.body {
  background-color: black;
}

.main {
  background-color: black;
  height: 500px;
  width: 500px;
  border: rgb(61, 37, 37) solid 3px;
  margin: auto;
  border: white solid 3px;
}
.main:hover {
  box-shadow: 7px 7px 7px #caedff;
  transition: 0.4s;
}

.well {
  font-family: cursive;
  margin: auto;
  text-align: center;
  color: #dac0a3;
}

.project {
  font-family: sans-serif;
  text-align: center;
  color: #8ecddd;
  font-size: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cyber-devils {
  color: white;
  font-size: 27px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin: 20px;
  background: linear-gradient(to right, #00ff00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  animation: neonGlow 1s infinite alternate, moveUpDown 3s ease-in-out infinite;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  100% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.button1 {
  margin-top: 20px;
  margin-left: 5%;
  height: 50px;
  width: 90%;
  align-items: center;
}

.bt1 {
  color: #2b1e1e;
  font-size: 16px;
  transition: font-size 0.3s ease-in-out;
  background-color: #ddcbed;
  height: 50px;
  width: 100%;
  border: white solid 2px;
  border-radius: 30px;
}

.bt1:hover {
  transform: scale(0.85);
  height: 55px;
  width: 360;
  border: white solid 2px;
  border-radius: 30px;
  transition: 0.1s;
}
.button2 {
  margin-top: 10px;
  margin-left: 5%;
  height: 50px;
  width: 90%;
  align-items: center;
}

.bt2 {
  background-color: #ddcbed;
  height: 50px;
  width: 100%;
  border: white solid 2px;
  border-radius: 30px;
}

.bt2:hover {
  transform: scale(0.85);
  height: 55px;
  width: 360;
  border: white solid 2px;
  border-radius: 30px;
  transition: 0.1s;
}

.button3 {
  margin-top: 10px;
  margin-left: 5%;
  height: 50px;
  width: 90%;
  align-items: center;
}

.bt3 {
  background-color: #ddcbed;
  height: 50px;
  width: 100%;
  border: white solid 2px;
  border-radius: 30px;
}

.bt3:hover {
  transform: scale(0.85);
  height: 55px;
  width: 360;
  border: white solid 2px;
  border-radius: 30px;
  transition: 0.1s;
}

.button4 {
  margin-top: 10px;
  margin-left: 5%;
  height: 50px;
  width: 90%;
  align-items: center;
}

.bt4 {
  background-color: #ddcbed;
  height: 50px;
  width: 100%;
  border: white solid 2px;
  border-radius: 30px;
}

.bt4:hover {
  transform: scale(0.85);
  height: 55px;
  width: 360;
  border: white solid 2px;
  border-radius: 30px;
  transition: 0.1s;
}